@import "../../../../style/data"

footer
  padding: 30px 0

  .t
    margin-top: 50px

    p
      color: white
      font-weight: 900

  img
    height: auto
    max-width: 200px
    margin-bottom: 50px

  form

    .t

      h5
        color: $yellow_light!important

  .foot-item

    .t

      h5
        color: $yellow_light
        margin-bottom: 15px

      a
        margin: 0 5px
        font-size: 20px
        font-weight: 300
        text-decoration: underline
        margin-bottom: 15px
        transition: .2s
        color: rgba(0,0,0,.7)

        &:hover
          transition: .2s
          color: black

        i
          font-size: 28px



@import "footer-media"
