@import "../../../../style/data"

.open-form
  padding: 60px 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  position: relative

  .check-list

    .check-item
      color: white

  .ct
    position: relative
    z-index: 2

  .t
    padding-bottom: 30px

    h2
      color: white

  form

    .t

      h5
        color: white
        line-height: 30px


@import "open-form-media"