@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .first-scroll

    .order
      padding-top: 30px

    .t
      padding: 30px

      h1

      h2
        margin-bottom: 0

      p
        font-size: 28px
        font-weight: 300
        margin-bottom: 25px

    .t-sub
      margin-bottom: 0

@media only screen and (min-width: 1200px)
  .first-scroll

    .order
      margin-left: 20px

    .t

      h1

      h2

@media only screen and (max-width: 1199px)
  .first-scroll

    .order

    .t

      h1
        font-size: 42px

      h2
        font-size: 28px

      h3

      p

    .t-sub

      h4
        font-size: 22px
        font-weight: 400

    .t-name
      text-align: center
      margin-top: 40px

@media only screen and (max-width: 991px)
  .first-scroll

    .order
      margin-top: 20px

    .t

      h1
        letter-spacing: 2px
        font-size: 42px

      h2
        font-size: 24px

      h3

      p
        font-size: 22px


@media only screen and (max-width: 767px)
  .first-scroll

    .order

      button
        font-size: 14px

    .t

      h1

      h2

      h3

      p
        font-size: 18px

    .t-name

      h4
        font-size: 22px

      h5
        font-size: 18px


@media only screen and (max-width: 575px)
  .first-scroll
    background-position: right center

    .order

    .t
      padding: 10px 5px

      h1
        font-size: 28px

      h2
        font-size: 22px

      h3

      p

    .t-sub
      padding: 10px 5px

      h4
        font-size: 18px
        font-weight: 400


